.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo_principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.texto_centralizado {
    text-align: center;
}

#missao {
    text-align: center;
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem_beneficios{
    width: 50%;
}

strong em {
    color: #FF0000;
}